.profile-box {
  margin-top: 20px;
  .leftBox {
    .image-box {
      border-radius: 5px;
      margin-bottom: 8px;
      img {
        border-radius: 5px;
        max-width: 100%;
      }
    }
    .name-section {
      border-bottom: 1px solid #dfe0e4;
      h2 {
        margin: 0px;
      }
      h3 {
        margin-top: 0px;
        margin-bottom: 10px;
        color: #555555;
      }
    }
    .info-section {
      margin-top: 20px;
      margin-bottom: 20px;
      p {
        margin: 0px 0px 3px 0px;
      }
    }
    .relationship-section {
      border-top: 1px solid #dfe0e4;
      li {
        text-align: center;
        margin-right: 60px;
      }
      li:last-child {
        margin-right: 0px;
      }
    }
  }
  .action-btn-group {
    button {
      margin-left: 10px;
    }
  }
  .postBox {
    border-top: 1px solid #dfe0e4;
    padding: 15px 0px;
    margin-top: 15px;
    .list-group-item {
      color: #4078c0;
      font-size: 13px;
      line-height: 20px;
    }
    .list-group-item-header {
      color: #333333;
      font-size: 14px;
      line-height: 21px;
      font-weight: 700;
      background-color: #F5F5F5;
      padding: 5px 15px;
    }
    .list-group-item-footer {
      color: #333333;
      font-size: 14px;
      line-height: 21px;
      font-weight: 700;
      background-color: #F5F5F5;
      padding: 5px 15px;
    }
  }
  .requestBox {
     .list-group-item {
      font-size: 12px;
      line-height: 18px;
      .username {
        margin-right: 5px;
      }
      .created-at {
        color: #dfe0e4;
        font-size: 10px;
      }
      img {
        border-radius: 5px;
        margin-right: 10px;
      }
      p {
        margin: 0;
      }
    }
    .list-group-item-header {
      color: #333333;
      font-size: 14px;
      line-height: 21px;
      font-weight: 700;
      background-color: #F5F5F5;
      padding: 5px 15px;
      a {
      font-size: 12px;
      line-height: 18px;
      font-weight: 500;
      }
    }
    .list-group-item-footer {
      color: #333333;
      font-size: 14px;
      line-height: 21px;
      font-weight: 700;
      background-color: #F5F5F5;
      padding: 5px 15px;
    }
  }
}
