.profile-box {
  position: relative;
  width: 510px;
  top: 120px;
  left: 50%;
  -moz-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  text-align: center;
  .image-box {
    display: inline-block;
    img {
      float: left;
      display: inline-block;
      width: 200px;
      height: 200px;
      border-radius: 7px;
      clear: both;
    }
    .info-box {
      display: inline-block;
      margin-left: 22px;
      .basic-info {
        text-align: left;
        margin-bottom: 18px;
        vertical-align: middle;
        span {
          font-size: 16px;
          font-weight: 700;
        }
      }
      .flag {
        width: 40px;
        height: 30px;
        margin-right: 5px;
      }
      .intro {
        text-align: left;
        font-size: 14px;
        width: 243px;
        color: #888888;
      }
      .profile-card-btn-group {
        display: inline-block;
        .modify-btn {
          width: 115px;
          height: 30px;
          background-color: #CD1D1F;
          border: 1px solid #B91C1E;
          border-radius: 6px;
          font-size: 15px;
          color: #FFFFFF;
          line-height: 16px;
          text-shadow: 0px 1px 0px #000000;
        }
        .meeting-btn {
          display: block;
          width: 242px;
          height: 30px;
          background-image: linear-gradient(-180deg, #00DEFF 0%, #0397B2 100%);
          border: 1px solid #1E0F86;
          border-radius: 6px;
          font-size: 15px;
          color: #FFFFFF;
          line-height: 18px;
          text-shadow: 0px 1px 0px #000000;
          margin-bottom: 6px;
        }
        .sendmsg-btn {
          width: 115px;
          height: 30px;
          background-image: linear-gradient(-180deg, #07C127 0%, #1D7405 100%);
          border: 1px solid #358213;
          border-radius: 6px;
          font-size: 15px;
          color: #FFFFFF;
          line-height: 16px;
          text-shadow: 0px 1px 0px #000000;
          margin-right: 13px;
        }
        .follow-btn {
          width: 115px;
          height: 30px;
          background-image: linear-gradient(-180deg, #5584EF 0%, #1E3D6D 100%);
          border: 1px solid #3F5697;
          border-radius: 6px;
          font-size: 15px;
          color: #FFFFFF;
          line-height: 16px;
          text-shadow: 0px 1px 0px #000000;
        }
        .unfollow-btn {
          width: 115px;
          height: 30px;
          background-image: linear-gradient(-180deg, #C1071C 0%, #AC171E 100%);
          border: 1px solid #A71212;
          border-radius: 6px;
          font-size: 15px;
          color: #FFFFFF;
          line-height: 16px;
          text-shadow: 0px 1px 0px #000000;
        }
      }
    }
  }
  .profileContent {
    margin-top: 26px;
    position: relative;
    text-align: left;
    padding: 8px 7px;
    .groupTitle {
      position: relative;
    }
    h4 {
      position: relative;
      float: left;
      z-index: 2;
      font-size: 13px;
      font-weight: 700;

      background-color: #ffffff;
      margin: 0;
      padding-right: 5px;
    }
    .groupTitleWrapper:before {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #ECECEC;
      left: 0;
      top: 50%;
      z-index: 1;
    }
    .groupTitleWrapper:after {
      content: '';
      display: block;
      clear: both;
    }
    .countersWrapper {
      margin-top: 33px;
      ul {
        list-style: none;
        margin: 0;
        li {
          position: relative;
          display: inline-block;
          width: auto;
          height: 68px;
          margin-right: 50px;
          text-align: center;
          h1 {
            display: inline-block;
            margin: 0;
            font-size: 30px;
            font-weight: 700;
          }
          p {
            margin: 0;
            font-size: 12px;
            font-weight: 500;
          }
        }
        li:last-child {
          width: auto;
          margin: 0;
          vertical-align: middle;
          h1 {
            font-size: 20px;
          }
        }
      }
    }
  }
  .progress-group {
    margin-top: 30px;
    margin-bottom: 30px;
    .progressTitle {
      position: relative;
      margin-bottom: 33px;
      h4 {
      position: relative;
      float: left;
      z-index: 2;
      font-size: 13px;
      font-weight: 700;
      background-color: #ffffff;
      margin: 0;
      padding-right: 5px;
    }
    .progressTitleWrapper:before {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #ECECEC;
      left: 0;
      top: 50%;
      z-index: 1;
    }
    .progressTitleWrapper:after {
      content: '';
      display: block;
      clear: both;
    }
    }
    .lang-progress-group {
      span {
        float: left;
        margin-right: 6px;
      }
    }
  }
  .detail-group {
    .region-group {
      margin-top: 33px;
    }
    .title {
      margin-left: 30px;
      font-size: 12px;
      font-weight: 700;
    }
    .content {
      margin-left: 80px;
      font-size: 12px;
    }
  }
}
