/*
 *= require_self
 *= require 'masonry/transitions'
 */

@font-face {
  font-family: "NotoSans";
  src:font-url('NotoSans-Regular.otf');
}
body {
  font-family: "NotoSans", "apple sd gothic neo", "Malgun Gothic", sans-serif !important;
  color: #333333;
}
@import "bootstrap-sprockets";
@import "bootstrap";

.edit-box {
  padding-top: 100px;
  input {
    margin-bottom: 20px;
  }
  .left-box {
    .img-wrapper {
      img {
        width: 100%;
      }
    }
  }
}



.message-box {
  padding-top: 100px;
  .title {
    text-align: center;
  }
  textarea {
    height: 400px;
  }
  .pagination {
    float: right;
  }
  .contentBox {
    .content-body {
      margin-bottom: 20px;
    }
    .btn-group {
      float: right;
    }
  }
}


/* Navbar */
.navbar {
  margin-bottom: 0px;
}
.navbar-default {
  background-color: #2F384C;
  .navbar-brand {
    color: #FFFFFF;
  }
  .navbar-nav {
    li {
      a {
        color: #FFFFFF;
      }
    }
  }
}
.quick-search {
  position: relative;
  padding: 0;
}

.dropdown-menu {
  width: 100%;
  li {
    a {
      color: #333333 !important;
    }
  }
}
/* basic */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea:focus, input:focus {
  outline: 0;
}

*:focus {
  outline: 0;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

label {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

.grey-wrapper {
  height: 100%;
  position: relative;
  margin-top: 30px;
}

/* Message Inbox */
.messageInbox {
  border: 1px solid #E4E8FF;
  padding: 0;
  .message-item {
    border-bottom: 1px solid #E4E8FF;
    list-style-type: none;
    padding: 10px 30px;
    font-weight: 700;
    .message-title {
      cursor: pointer;
    }
    .contentBox {
      font-weight: 500;
      margin: 0;
      padding: 10px 0px;
    }
  }
  .message-item:last-child {
    border-bottom: none;
  }
}


