/*
 *= require_self
 *= require font-awesome
 */

@font-face {
  font-family: "NotoSans";
  src:font-url('NotoSans-Regular.otf');
}
body {
  font-family: Helvetica, "Microsoft Yahei", "微软雅黑", "华文细黑", "NotoSans", "apple sd gothic neo", "Malgun Gothic", sans-serif !important;
  color: #333333;
}
@import "bootstrap-sprockets";
@import "bootstrap";


.message-box {
  padding-top: 100px;
  .title {
    text-align: center;
  }
  textarea {
    height: 400px;
  }
  .pagination {
    float: right;
  }
  .contentBox {
    .content-body {
      margin-bottom: 20px;
    }
    .btn-group {
      float: right;
    }
  }
}


/* Navbar */
.navbar {
  margin-bottom: 0px;
  .navbar-right {
    margin-bottom: 0px;
  }
}
.navbar-default {
  background-color: #2F384C;
  .navbar-brand {
    color: #FFFFFF;
  }
  .navbar-nav {
    li {
      a {
        color: #DDDDDD;
      }
      a:foucs {
        color: #FFFFFF;
      }
      a:hover {
        color: #FFFFFF;
      }
    }
  }
}
.quick-search {
  position: relative;
  padding: 0;
}
.dropdown-menu {
  padding: 0;
  li {
    background-color: #FFFFFF;
    a {
      color: #333333 !important;
    }
  }
}
.col-xs-12 {
  padding: 0;
}
.noti-dropdown {
  width: 500px;
  li {
    height: 45px;
    border-bottom: 1px solid #EFEFEF;
    .created-at {
      margin: 0;
      color: #b3c1c6;
      size: 12px;
      line-height: 18px;
    }
    a {
      color: #333333;
      font-size: 12px;
      line-height: 19px;
      strong {
        font-size: 13px;
      }
    }
}
}
.mini-alarm {
  width:100%;
  position: relative;
  overflow-x: hidden;
  li {
    display: table;
    height: 40px;
    width: 100%;
    a {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
    }
  }
}
/* basic */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea:focus, input:focus {
  outline: 0;
}

*:focus {
  outline: 0;
}

label {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

.grey-wrapper {
  height: 100%;
  position: relative;
  margin-top: 30px;
}

/* Message Inbox */
.messageInbox {
  border: 1px solid #E4E8FF;
  padding: 0;
  .message-item {
    border-bottom: 1px solid #E4E8FF;
    list-style-type: none;
    padding: 10px 30px;
    font-weight: 700;
    .message-title {
      cursor: pointer;
    }
    .contentBox {
      font-weight: 500;
      margin: 0;
      padding: 10px 0px;
    }
  }
  .message-item:last-child {
    border-bottom: none;
  }
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
