body {
  background-color: #eee;
}
.post-sub-nav {
  background-color: #fff;
}
.forumBox {
  background-color: #fff;
  margin-top: 30px;
  border-radius: 5px;
}
.postBox {
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
  border-radius: 5px;
  img {
    display: inline-block;
    float: left;
    width: 80px;
    height: 60px;
    margin-right: 15px;
  }
  .postInfo {
    font-size: 12px;
    line-height: 18px;
    color: #b3c1c6;
    vertical-align: middle;
    .title {
      color: #333;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      margin-right: 5px;
    }
    .category {
      margin-left: 10px;
      color: #333;
    }
  }
  .subInfo {
    margin-top: 10px;
    color: #b3c1c6;
    .username {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      margin-right: 10px;
    }
    .created-at {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
.bestPostsBox {
  padding: 10px;
  margin-top: 30px;
  border-bottom: 1px solid #eeeeee;
  border-radius: 5px;
  background-color: #fff;
  .box-header {
    border-bottom: 1px solid #eeeeee;
    text-align: center;
    h4 {
      line-height: 27px;
    }
  }
  .postItem {
    text-align: left;
    border-bottom: 1px solid #eeeeee;
    padding: 10px;
    .title {
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      margin: 0;
      margin-bottom: 3px;
      a {
        color: #333333;
        text-decoration: none;
      }
    }
    .sub-info {
      font-size: 12px;
      color: #b3c1c6;
      margin-bottom: 0px;
      .username {
        font-weight: 700;
        margin-right: 10px;
      }
      .createdAt {
        margin-right: 10px;
      }
    }
  }
}

.menuBox {
  ul {
    margin: 10px 0px;
    display: block;
    float: right;
  }
  .postBtn {
    display: block;
    float: right;
  }

}
